<div style="margin: 24px;">
<div class="rooms-container">
  <div *ngFor="let room of rooms" class="room-preview">
    <div class="room" style="background-color: #333333;">
      <!-- Изображение сверху -->
      <div class="room__image">
        <img
          src="{{room.image}}"
          alt="room image">
      </div>
      <!-- Информация снизу в серой области -->
      <div class="room-info">
        <div class="room__header">
          <div>
            <h3 class="room__title">{{room.title}}</h3>
          </div>
          <div class="room__people">
            <img class="room__people-icon"
              src="https://cdn-eu.icons8.com/docs/BnLkG_fXdU2Nx4K7hcUflQ/NjHc6hgmsUOrLWb_4VnqiQ.svg"
              alt="user icon">
            <div class="room__maxpeople">{{room.max_count}}</div>
          </div>
        </div>
        <button class="room__btn" (click)="goToRoom(room)">Выбрать</button>
      </div>
    </div>
  </div>
  <div *ngIf="isLoading" class="loading-spinner create-new__loading-spinner">
    <div class="spinner"></div>
  </div>
</div>
</div>