<!--Нав бар-->
<nav>
  <div class="logo">
    <a href="/">
      <img src="https://mospolytech.ru/local/templates/main/dist/img/logos/mospolytech-logo-white.svg" alt="Logo">
    </a>
  </div>
  <ul class="menu" style="align-self: center;">
    <ng-container *ngIf="(isLoggedIn | async) === false && currentUrlGetter !== '/admin' && currentUrlGetter !== '/choose-room'">
      <li><a href="/choose-room">Создать заявку</a></li>
    </ng-container>
    <ng-container *ngIf="(isLoggedIn | async) === true && currentUrlGetter !== '/admin' && currentUrlGetter !== '/choose-room'">
      <li><a (click)="signOut()">Выйти</a></li>
    </ng-container>
  </ul>
</nav>
<!--##############-->
<router-outlet></router-outlet>