<div class="emptypage">
  <div>
    <h2>Почему я это вижу?</h2>
    <span class="description">Указанный файл не найден на этом сайте. Проверьте URL на наличие ошибок и повторите попытку</span>
  </div>
  <div class="button-placeholder">
    <button (click)="goToPage()">
      <div class="btn-div">
        <div class="icon-placeholder-button">
          <img class="ic_backward" src="assets/icons/ic_back.svg" onerror="this.src='assets/placeholders/ic_broken_icon.svg'" alt="Иконка кнопки назад">
        </div>
        <div>
          <span>Назад</span>
        </div>
      </div>
    </button>
  </div>
</div>
